p.p2 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    line-height: 14.0px;
    font: 12.0px 'Helvetica Neue';
    color: #000000;
    -webkit-text-stroke: #000000
}

p.p3 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    line-height: 15.0px;
    font: 12.0px 'Helvetica Neue';
    color: #000000;
    -webkit-text-stroke: #000000
}

li.li4 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    line-height: 14.0px;
    font: 12.0px 'Helvetica Neue';
    color: #0000e9;
    -webkit-text-stroke: #000000
}

li.li5 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    line-height: 14.0px;
    font: 12.0px 'Helvetica Neue';
    color: #0000e3
}

li.li6 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    line-height: 14.0px;
    font: 12.0px 'Helvetica Neue';
    color: #000000;
    -webkit-text-stroke: #000000
}

span.s1 {
    font-kerning: none
}

span.s2 {
    -webkit-text-stroke: 0px #000000
}

span.s3 {
    text-decoration: underline;
    font-kerning: none
}

ul.ul1 {
    list-style-type: disc
}

.h2x {
    margin: 0.0px 0.0px 14.9px 0.0px;
    line-height: 23.0px;
    font: 18.0px 'Helvetica Neue';
    color: #000000;
    -webkit-text-stroke: #000000
}

.easy-prep-privacy-policy {
    padding: 20px;
}

.easy-prep-privacy-policy a {
    color: #0000e9 !important;
}