.tab-fill-survey {
    .tab-label {
        margin-top: 24px;
        position: relative;
        p {
            margin: 0;
            font-size: 20px;
            line-height: 30px;
            color: #212121;
            font-family: "Poppins-SemiBold";
            display: block;
            text-align: center;
        }

        .img1 {
            width: 48px;
        }
    }
    .passed-survey-item {
        padding: 12px;
        border-radius: 12px;
        background-color: #fff;
        margin-top: 16px;
        box-shadow: 0px 0px 4px 0px #2121211a;

        p {
            margin: 0;
            font-family: "Poppins-Medium";
            display: block;
            font-size: 16px;
            line-height: 24px;
        }

        .MuiFormControlLabel-root {
            margin-right: 0;
        }

        .option-item {
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            i.adding-info {
                font-size: 14px;
                flex: none;
            }

            input.adding-info {
                margin: 0;
                padding: 0 6px;
                max-width: 280px;
            }
        }

        .text-field {
            width: 100%;
            display: block;
            border: none;
            border-bottom: 1px solid #212121;
            padding: 6px 0;
            margin-top: 12px;
            &::placeholder {
                color: rgba(33, 33, 33, 0.24);
            }
            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: rgba(33, 33, 33, 0.24);
            }
            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: rgba(33, 33, 33, 0.24);
            }
            &:focus-visible {
                border: none;
                border-bottom: 1px solid #212121;
                outline: none;
            }
        }

        .rate-field {
            display: flex;
            align-items: end;
            margin-top: 16px;
            justify-content: center;

            > span {
                font-size: 12px;
                line-height: 40px;
                font-family: "Poppins-Medium";
            }

            .radio-buttons-group {
                // flex: 1;
                display: flex;
                // justify-content: space-around;
                flex-direction: row;
                flex-wrap: nowrap;

                .MuiFormControlLabel-root {
                    flex-direction: column-reverse;
                    margin: 0;

                    .MuiRadio-root {
                        color: #e3a651;
                        padding: 0 8px;
                    }
                }
            }
        }

        .radio-field {
            .radio-buttons-group-check-field {
                .MuiFormControlLabel-root {
                    margin: 0;

                    .MuiRadio-root {
                        color: #e3a651;
                        padding: 9px 9px 9px 0;
                    }
                }
            }
        }

        .MuiFormControlLabel-root {
            input[type="checkbox"] {
                margin: 8px;
                width: 16px;
                height: 16px;

                background-color: #fff;
                appearance: none;
                width: 24px;
                height: 24px;
                border: 2px solid #e3a651;
                border-radius: 6px;

                display: grid;
                place-content: center;
                flex: none;
            }

            input[type="checkbox"]:checked {
                background: #e3a651;
            }
            input[type="checkbox"]:checked:before {
                /* ...existing styles */
                content: "";
                width: 14px;
                height: 11px;
                box-shadow: inset 1em 1em #fff;
                clip-path: path(
                    "M12.92 0.962417C13.0053 0.875375 13.1071 0.806227 13.2195 0.759021C13.3318 0.711815 13.4525 0.6875 13.5744 0.6875C13.6962 0.6875 13.8169 0.711815 13.9292 0.759021C14.0416 0.806227 14.1434 0.875375 14.2287 0.962417C14.5862 1.32367 14.5912 1.90742 14.2412 2.27492L6.84998 11.0124C6.76606 11.1046 6.66422 11.1786 6.5507 11.2301C6.43717 11.2815 6.31435 11.3093 6.18973 11.3116C6.06512 11.3139 5.94134 11.2908 5.82596 11.2437C5.71059 11.1965 5.60604 11.1264 5.51873 11.0374L1.02123 6.47992C0.847772 6.30302 0.75061 6.06516 0.75061 5.81742C0.75061 5.56967 0.847772 5.33181 1.02123 5.15492C1.10653 5.06787 1.20835 4.99873 1.32071 4.95152C1.43307 4.90431 1.55372 4.88 1.6756 4.88C1.79748 4.88 1.91813 4.90431 2.03049 4.95152C2.14285 4.99873 2.24467 5.06787 2.32998 5.15492L6.14498 9.02117L12.895 0.989918C12.9027 0.980257 12.9111 0.971074 12.92 0.962417Z"
                );
            }

            input[type="checkbox"]:focus {
                outline: none;
            }

            input[type="radio"] {
                margin: 8px;
                background-color: #fff;
                appearance: none;
                width: 24px;
                height: 24px;
                color: #e3a651;
                border: 2px solid #e3a651;
                border-radius: 50%;
                flex: none;
                display: grid;
                place-content: center;
            }

            input[type="radio"]:checked {
                background: #fff;
            }

            input[type="radio"]:checked:before {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                box-shadow: inset 1em 1em #e3a651;
            }

            input[type="radio"]:focus {
                outline: none;
            }
        }

        .MuiFormControlLabel-root {
            span {
                font-size: 16px;
                line-height: 20px;
                font-family: "Poppins-Medium";
            }
        }
    }

    .alert {
        display: none;
    }

    .alert-required {
        border: 1px inset #ff7b7b;

        .alert {
            display: flex;
            align-items: center;
            margin-top: 8px;
        }
    }

    .alert-other-content {
        display: none;
    }
    .alert-required-other-content {
        border: 1px inset #ff7b7b;

        .alert-other-content {
            display: flex;
            align-items: center;
            margin-top: 8px;
        }
    }
}

.submit-survey {
    background-color: #e3a651;
    line-height: 36px;
    font-size: 14px;
    border-radius: 8px;
    color: #fff;
    width: 116px;
    text-align: center;
    margin: 16px 0 0;
    font-family: "Poppins-Medium";
    cursor: pointer;
}

.tab-submited {
    padding: 12px;
    border-radius: 12px;
    margin-top: 16px;
    background-color: #fff;

    p {
        margin: 0;
        font-size: 20px;
        line-height: 30px;
        color: #212121;
        font-family: "Poppins-SemiBold";
    }

    span {
        margin: 0;
        font-size: 14px;
        line-height: 21px;
        color: #212121;
        display: block;
        margin-top: 8px;
    }

    div {
        font-size: 14px;
        line-height: 21px;
        margin-top: 8px;
        color: #0085ff;
        text-decoration: underline;
        cursor: pointer;
    }
}

.congratulations-on-passing-your-test-container {
    padding-right: 0 !important;
    padding-left: 0 !important;

    header {
        height: 274px;
        background-image: url(/images/asvab/survey/congratulations-on-passing-your-test.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 80%;

        > div {
            padding: 24px;
            height: calc(100% - 24px - 24px);
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 64.47%, rgba(0, 0, 0, 0.2) 83.85%, rgba(0, 0, 0, 0) 90.85%);
            display: flex;
            flex-direction: column;
        }

        h1 {
            font-size: 24px;
            line-height: 36px;
            margin: 0;
            font-family: "Poppins-SemiBold";
            color: #1cfdba;
            text-transform: capitalize;
            margin-top: 12px;
        }

        p {
            font-size: 12px;
            line-height: 18px;
            color: #fff;
        }
    }

    @media screen and (min-width: 768px) {
        padding: 0;
        header {
            height: 405px;

            > div {
                padding: 32px 70px;
                height: calc(100% - 32px - 32px);
            }

            h1 {
                font-size: 36px;
                line-height: 52px;
            }

            p {
                font-size: 18px;
                line-height: 27px;
                max-width: 740px;
                margin-bottom: 0;
            }
        }

        .custom-container {
            padding-left: 70px;
            padding-right: 70px;
        }

        .tab-fill-survey {
            .tab-label {
                margin-top: 24px;
                position: relative;
                p {
                    margin: 0;
                    font-size: 52px;
                    line-height: 78px;
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        header {
            h1 {
                font-size: 48px;
                line-height: 72px;
            }

            p {
                font-size: 24px;
                line-height: 36px;
            }
        }

        .tab-fill-survey {
            .tab-label {
                .img1 {
                    width: 170px;
                }
            }
        }
    }
}

.were-sorry-to-hear-that-you-didnt-pass-the-exam-container {
    padding-right: 0 !important;
    padding-left: 0 !important;

    header {
        height: 274px;
        background-image: url(/images/asvab/survey/were-sorry-to-hear-that-you-didnt-pass-the-exam.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 10%;

        > div {
            padding: 24px;
            height: calc(100% - 24px - 24px);
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 64.47%, rgba(0, 0, 0, 0.2) 83.85%, rgba(0, 0, 0, 0) 90.85%);
            display: flex;
            flex-direction: column;
        }

        h1 {
            font-size: 20px;
            line-height: 30px;
            margin: 0;
            font-family: "Poppins-SemiBold";
            color: #ff3535;
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
            text-transform: capitalize;
            margin-top: 12px;
        }

        p {
            font-size: 12px;
            line-height: 18px;
            color: #fff;
        }
    }

    @media screen and (min-width: 375px) {
        padding: 0;
        header {
            h1 {
                font-size: 24px;
                line-height: 36px;
            }
        }
    }

    @media screen and (min-width: 768px) {
        padding: 0;
        header {
            height: 405px;

            > div {
                padding: 32px 70px;
                height: calc(100% - 32px - 32px);
            }

            h1 {
                font-size: 36px;
                line-height: 52px;
            }

            p {
                font-size: 18px;
                line-height: 27px;
                max-width: 740px;
                margin-bottom: 0;
            }
        }

        .custom-container {
            padding-left: 70px;
            padding-right: 70px;
        }

        .tab-fill-survey {
            .tab-label {
                margin-top: 24px;
                position: relative;
                p {
                    margin: 0;
                    font-size: 52px;
                    line-height: 78px;
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        header {
            h1 {
                font-size: 48px;
                line-height: 72px;
            }

            p {
                font-size: 24px;
                line-height: 36px;
            }
        }

        .tab-fill-survey {
            .tab-label {
                .img1 {
                    width: 170px;
                }
            }
        }
    }
}
